{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="container mx-auto p-8">
		<h1 class="text-3xl font-bold text-center mb-8">Sign in to your account</h1>
		<div class="bg-white rounded-lg shadow-md p-6">
			{% if error %}
				<div class=" text-red-600 text-sm text-center">
					{{error.messageKey|trans(error.messageData, 'security')}}
				</div>
			{% endif %}
			<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
				<form class="space-y-6" action="{{ path('app_login') }}" method="POST">
					<div>
						<label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
						<div class="mt-2">
							<input id="email" name="email" value="{{last_username}}" type="email" autocomplete="email" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6">
						</div>
					</div>

					<div>
						<div class="flex items-center justify-between">
							<label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
							<div class="text-sm">
								<a href="#" class="font-semibold text-gray-900 hover:text-gray-700">Forgot password?</a>
							</div>
						</div>
						<div class="mt-2">
							<input id="password" name="password" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6">
						</div>
					</div>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<div>
						<button type="submit" class="flex w-full justify-center rounded-md bg-gray-900 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900">Sign in</button>
					</div>
				</form>

				<p class="mt-10 text-center text-sm text-gray-500">
					Not a member?
					<a href="{{path('app_register')}}" class="font-semibold leading-6 text-gray-900 hover:text-gray-700">Register now</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}
